
<section class="container mt-5" id="sobre">
    <div class="row w-100">
        <div class="col-md-12">
            <h2 class="pt-3">Sobre</h2>
            <p>Acredito fortemente no poder da colaboração e na troca de conhecimentos. Gosto de compartilhar minhas experiências e aprender com outras pessoas, pois acredito que essa interação é essencial para o crescimento profissional e pessoal.

                Seja qual for o projeto ou desafio, estou sempre pronto para me envolver com entusiasmo e dedicação, buscando sempre a excelência e o impacto positivo através da tecnologia.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <img class="img-fluid shadow" src="../static/img/profile.png" alt="profile">
        </div>
        <div class="col-md-8">
            <h3>Analista de T.I</h3>
            <p>Atualmente minha principal responsabilidade é garantir que a infraestrutura tecnológica da empresa opere de maneira eficiente e segura, resolvendo problemas e implementando melhorias contínuas.

            </p>
        </div> 
    </div>
  </section>
